@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject SelectionService SelectionService

@page "/debug/album/{AlbumId:int}"

<AuthorizeView>
    <Authorized>
        @if (context.User.Identity.IsAuthenticated)
        {
            <_Sidebar UserId="@UserId"></_Sidebar>
            <div class="container">
                <header class="header">
                    <input type="text" class="search" placeholder="Поиск">
                    <_Profile UserId="@UserId" UserName="@context.User.Identity.Name"></_Profile>
                </header>
                <main class="main">
                    <div class="album-view">
                        <div class="album-view__main">
                            <div class="album-view__img">
                                <img class="album-view__img" src="@Album.Cover" alt="">
                            </div>
                            <div class="album-view__right">
                                <h1>
                                    @Album.Title
                                </h1>
								<div class="artist-container">
									<img class="artist-image" src="@Album.Authors[0].Author.Avatar">
									<h2>
										<a href="/debug/Artist/@Album.Authors[0].AuthorId">@Album.Authors[0].Author.Name</a>&nbsp;·&nbsp;2021
									</h2>
								</div>
                                <div class="album-view__buttons">
                                    <button>
                                        <img src="/images/icons/play_button.svg" alt="">
                                    </button>
                                    <button>
                                        <img src="/images/icons/star.svg" alt="">
                                    </button>
                                    <button>
                                        <img src="/images/icons/more.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
						<hr>
                        <_AlbumTracks AlbumId="@AlbumId"></_AlbumTracks>
                    </div>
                </main>
            </div>
            <_Footer></_Footer>
        }
        else
        {
            <_RedirectToLogin></_RedirectToLogin>
        }
    </Authorized>
    <NotAuthorized>
        <_RedirectToLogin></_RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int UserId { get; set; }
    private Album Album { get; set; }

    [Parameter]
    public int AlbumId { get; set; }
    protected override void OnInitialized()
    {

        if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
        {
            var claims = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Claims;

            UserId = int.Parse(claims.First(x => x.Type.Contains("nameidentifier")).Value);
            Album = SelectionService.GetAlbumById(AlbumId);
        }
        else
        {
            NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
    }

    private string GetNameArtist()
    {
        var res = Album.Title;
        return res == "" ? "Unknown" : res;
    }


} 