@using Spotify.Domain.Entities.Intermediate
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject SelectionService SelectionService
@inject IJSRuntime js

@page "/debug/for-you"

<AuthorizeView>
    <Authorized>
        @if (context.User.Identity.IsAuthenticated)
        {
            <_Sidebar UserId="@UserId" SelectedItem=1></_Sidebar>
            <div class="container">
                <header class="header">
                    <input type="text" class="search" placeholder="Поиск">
                    <_Profile UserId="@UserId"></_Profile>
                </header>
                <main class="main">
                    <div class="album-view">
                        <div class="album-view__tracks">
                            @for (int i = 0; i < data.Length - 1; i++)
                             {
								int k = i;
								AlbumTrack pair = data[i];
                                <div class="album-view__track" @onclick="@(() => {PlayTrack(k); SetQueue(k);})">
                                    <div class="album-view__track-left">
                                        <img class="album__img" src="@pair.Album.Cover">
                                        <div class="album-view__track-creds">
                                            <span class="album-view__track-name">
                                                @pair.Track.Title
                                            </span>
                                            <span class="album-view__track-artist">
                                                <a href="/debug/Artist/@pair.Track.Authors.First().AuthorId">
                                                    @try
                                                    {
                                                        @pair.Track.Authors.First().Author.Name
                                                    }
                                                    catch (Exception e)
                                                    {
                                                        <span>Travis Scott</span>
                                                    }
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="album-view__track-right">
                                        <button></button>
                                        <span>
                                            @pair.Track.Duration
                                        </span>
                                    </div>
                                </div>
                             }
                        </div>
                    </div>
                </main>
            </div>
            <_Footer></_Footer>
        }
        else
        {
            <_RedirectToLogin></_RedirectToLogin>
        }
    </Authorized>
    <NotAuthorized>
        <_RedirectToLogin></_RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int UserId { get; set; }
    private AlbumTrack[] data { get; set; }

    protected override void OnInitialized()
    {

        if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
        {
            var claims = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Claims;

            UserId = int.Parse(claims.First(x => x.Type.Contains("nameidentifier")).Value);

            var likedTraskId = SelectionService.GetUserLikedTracks(UserId).Select(x => x.TrackId);
            data = SelectionService.Recommendation(likedTraskId).ToArray();
        }
        else
        {
            NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
    }
    protected void PlayTrack(int i) {
        js.InvokeVoidAsync("player.play", new {
            title = data[i].Track.Title,
            cover = data[i].Album.Cover,
            album = "/debug/album/" + data[i].Album.AlbumId,
            url = "/data/track/" + data[i].Track.TrackId,
            artist = data[i].Album.Authors[0].Author.Name,
            artistUrl = "/debug/artist/" + data[i].Album.Authors[0].AuthorId
        });
    }

    protected void SetQueue(int i) {
        js.InvokeVoidAsync("player.clearQueue", i);

        for (int j = 0; j < data.Length; j++) {

            js.InvokeVoidAsync("player.addQueue", new {
                title = data[j].Track.Title,
                cover = data[j].Album.Cover,
                album = "/debug/album/" + data[j].Album.AlbumId,
                url = "/data/track/" + data[j].Track.TrackId,
                artist = data[j].Album.Authors[0].Author.Name,
                artistUrl = "/debug/artist/" + data[j].Album.Authors[0].AuthorId
            });
        }

        js.InvokeVoidAsync("player.setQueue", i);
    }
} 