@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@inject SignInManager<Spotify.Domain.Entities.Identity.User> SignInManager
@inject UserManager<Spotify.Domain.Entities.Identity.User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Polymusic</title>
    <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/Identity/css/site.css" /> *@
	<link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
    <header class="login-header" style="background-color: #1c1c1e;">
        <div class="login-header__container" style="padding: 25px 0;">
            <a class="login-header-brand" href="~/">
				<img src="/images/icons/logo-with-text.svg" alt="logo">
			</a>
            <div>
                <ul class="login-header__buttons">
					@if (SignInManager.IsSignedIn(User))
					{
					    <li>
					        <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @UserManager.GetUserName(User)!</a>
					    </li>
					    <li>
					        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
					            <button id="logout" type="submit">Logout</button>
					        </form>
					    </li>
					}
					else
					{
					    <li>
					        <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
					    </li>
					    <li>
					        <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
					    </li>
					}
				</ul>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer border-top text-muted">
        <div class="container login-footer__container">
            &copy; 2020 - Polymusic - <a asp-area="" asp-page="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
